# Python ML Dependencies for eParking License Plate Recognition
# Optimized for Docker deployment

# Core Dependencies
numpy
Pillow

# Deep Learning Frameworks
torch
torchvision

# Computer Vision
opencv-python-headless

# Object Detection (YOLO)
ultralytics

# WebSocket Server for Realtime Detection
flask
flask-socketio
flask-cors
eventlet
python-dotenv
tqdm

